body {
  background-color: #fff;
  font-family: sans-serif;
  margin-bottom: 3rem;
}

a:hover {
  color: red;
}

h1,
h2,
h3 {
  font-weight: normal;
}

textarea {
  font-family: monospace;
  font-size: larger;
  height: 15em;
  width: 100%;
  max-width: 111ex;
}

.result {
  margin: 2rem 2rem 2rem 0rem;
  font-weight: bold;
  padding: 1em;
  background: aquamarine;
  max-width: 300px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

.cholera-container {
  margin: 10px 0;
  border: 1px solid black;
  display: inline-block;
  height: 320px;
  width: 320px;
  position: relative;
}

.cholera-container img {
  max-width: 50px;
  max-height: 50px;
}

.exercise-solutions {
  display: none;
}

hr {
  margin: 3rem 0 1rem;
}
